@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.navbar{
  background-color: #252525;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.Header{
  background-color: #252525;
}

.nav-link{
  border-top: 3px solid #252525;
  margin-left: 6px;
  margin-right: 6px;
  transition: 0.5s;
  color: #707070;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.nav-link:hover{
  border-top: 3px solid #e5493a;
}




.nav-link:hover{
  color: #e5493a;
}

.navbar-toggler-icon{
  background-color: #e5493a !important;
}

.form-inline > i{
  transition: 0.5s;
  margin-left: 7px;
  margin-right: 7px;
  cursor: pointer;
  color: #555555;
}

.form-inline > i:hover{
  color: #e5493a;
}

.progress-bar-header{
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #e5493a 50%, #363636 50%);

}

.carousel-item{
  height: 795px;
  background-image: url("/img/photo.png");
  background-position: center;
}

.carousel-item-text > h1{
  transition: 0.5s;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  font-weight: 400;
  text-transform: uppercase;
}

.carousel-item-text > h2{
  transition: 0.5s;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 43px;
  font-weight: 400;
  text-transform: uppercase;
}

.carousel-item-text > h2 > span{
  transition: 0.5s;
  color: #e5493a;
}

.carousel-item-text > p{
  transition: 0.5s;
  max-width: 541px;
  color: #555555;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.carousel-item > div{
  transition: 0.5s;
  margin-top: 200px;
  width: 100%;
  padding-left: 50%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left !important;
  justify-content: center;
}

.Btn-Header {
  transition: 0.5s;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px 45px;
  text-decoration: none;

}

.Btn-Header:hover {
  background-color: #e5493a;
	border-radius: 4px;
  border: 1px solid #e5493a;
}

.Btn-Header:active {
  outline: none;
  border: 1px solid white;
}

.Btn-Header:focus {
  outline: 0;
}

.Btn-Header-white:active {
  outline: none;
  border: 1px solid white;
}

.Btn-Header-white:focus {
  outline: 0;
}

.Btn-Header-white:hover{
  background-color: #e5493a;
	border-radius: 4px;
  border: 1px solid #e5493a;
}

.Btn-Header-white{
  transition: 0.5s;
  margin-left: 30px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px 45px;
  text-decoration: none;
}

.dot-caroussel-indicator{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 10px;
  height: 10px;
  color: #ffffff;
  opacity: 0.6;
}

.carousel-indicators .active {
  color: #e5493a;
}

.carousel-control-prev{
  justify-content: flex-start !important;
}

.carousel-control-next{
  justify-content: flex-end !important;
}

.carousel-control-prev-icon{
  transition: 0.5s;
  padding-top: 13px;
  background-image: none !important;
  width: 42px !important;
  height: 42px !important;
  background-color: #363636 !important;
}

.carousel-control-prev-icon:hover{
  background-color: #e5493a !important;
}

.carousel-control-next-icon:hover{
  background-color: #e5493a !important;
}


.carousel-control-next-icon{
  transition: 0.5s;
  padding-top: 13px;
  background-image: none !important;
  width: 42px !important;
  height: 42px !important;
  background-color: #363636 !important;
}

.description-ball{
  background-color: #252525;
}

.description-ball-flex{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 60px;
  flex-wrap: wrap;
}

.ball > h5{
  margin-top: 30px;
  color: #636363;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.ball > p{
  margin-top: 15px;
  max-width: 262px;
  color: #555555;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #252525;
}

.ball{
  cursor: pointer;
}

.ball:hover p {
  transition: 0.5s;
  color: #ffffff;
  padding-bottom: 20px;
  border-bottom: 2px solid #e5493a;
}

.ball:hover h5 {
  transition: 0.5s;
  cursor: pointer;
  color: #e5493a;
}

.ball:hover i {
  transition: 0.5s;
  cursor: pointer;
  color: #e5493a;
}

.ball:hover div {
  transition: 0.5s;
  cursor: pointer;
  border: 1px solid #e5493a;
}

.circle-ball{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid #363636;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.circle-ball > i{
  width: 100%;
  text-align: center;
  color: #636363;
  font-size: 45px;
}

.Recent-Work{
  background-color: #202020;
  height: 780px;
}

















@media screen and (min-width: 420px) and (max-width: 1100px) {
  .carousel-item > div{
    margin-top: 70px;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center !important;
  }

  .Btn-Header{
    margin-top: 0px;
  }

  .Btn-Header-white{
    margin-top: 20px;
    margin-left: 0px;
  }

  .carousel-item-text > p {
    font-size: 15px;
}
}
