@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

.navbar{
  background-color: #252525;
  padding-top: 50px !important;
}

.Header{
  background-color: #252525;
}

.hover-header-text{
  position: absolute;
  margin-left: 10px;
  width: 8px;
  height: 2px;
  background-color: red;
}

.nav-link{
  margin-left: 6px;
  margin-right: 6px;
  transition: 0.5s;
  color: #707070;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.nav-link:hover{
  color: #e5493a;
}

.navbar-toggler-icon{
  background-color: #e5493a !important;
}

.form-inline > i{
  transition: 0.5s;
  margin-left: 7px;
  margin-right: 7px;
  cursor: pointer;
  color: #555555;
}

.form-inline > i:hover{
  color: #e5493a;
}

.carousel-item{
  height: 795px;
  background-image: url("/img/photo.png");
}

.carousel-item-text > h1{
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  font-weight: 400;
  text-transform: uppercase;
}

.carousel-item-text > h2{
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 43px;
  font-weight: 400;
  text-transform: uppercase;
}

.carousel-item-text > h2 > span{
  color: #e5493a;
}

.carousel-item-text > p{
  max-width: 541px;
  color: #555555;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.carousel-item > div{
  opacity: 1 !important;
  margin-top: 200px;
  width: 100%;
  padding-left: 50%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left !important;
  justify-content: center;
}

.Btn-Header {
  transition: 0.5s;
	background-color: #e5493a;
	border-radius: 4px;
  border: none;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
  font-family: 'Raleway', sans-serif;
	font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
	padding: 15px 45px;
	text-decoration: none;
  outline: none;
  border: 1px solid #e5493a;

}

.Btn-Header:hover {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid white;
}

.Btn-Header:active {
  outline: none;
  border: none;
}

.Btn-Header:focus {
  outline: 0;
}

.Btn-Header-white:active {
  outline: none;
  border: 1px solid white;
}

.Btn-Header-white:focus {
  outline: 0;
}

.Btn-Header-white:hover{
  background-color: #e5493a;
	border-radius: 4px;
  border: 1px solid #e5493a;
}

.Btn-Header-white{
  transition: 0.5s;
  margin-left: 30px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px 45px;
  text-decoration: none;
}

.dot-caroussel-indicator{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 5px;
  height: 5px;
  color: #ffffff;
  opacity: 0.6;
}

.carousel-indicators .active {
  color: #e5493a;
}

.carousel-control-prev{
  justify-content: flex-start !important;
}

.carousel-control-next{
  justify-content: flex-end !important;
}

.carousel-control-prev-icon{
  transition: 0.5s;
  padding-top: 13px;
  background-image: none !important;
  width: 42px !important;
  height: 42px !important;
  background-color: #363636 !important;
}

.carousel-control-prev-icon:hover{
  background-color: #e5493a !important;
}

.carousel-control-next-icon:hover{
  background-color: #e5493a !important;
}


.carousel-control-next-icon{
  transition: 0.5s;
  padding-top: 13px;
  background-image: none !important;
  width: 42px !important;
  height: 42px !important;
  background-color: #363636 !important;
}
